.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  // padding: 5px 12px;
  padding: 3px;
  cursor: pointer;
}

// .editable-row:hover .editable-cell-value-wrap {
//   padding: 4px 11px;
//   border: 1px solid #d9d9d9;
//   border-radius: 2px;
// }

.peidi-edit-table-container {
  .ant-table-wrapper {
    zoom: 0.85;
  }
}